WebContent/WEB-INF/XML_DB/Accounts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Accounts" type="Accounts"/>
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element name="Email">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Password"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element type="Account" name="Account" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>